
	<div id="header">
		<h1>Survey</h1>
		<hr size="1">

	</div>

	<div id="body">

		<center><a>Your results: <%= @name0[0] %> - <%= @name0[1] %>; <%= @name1[0] %> - <%= @name1[1] %>; <%= @name2[0] %> - <%= @name2[1] %></a></center>
		<hr size="1">
		
		<div id="content">
			<h3>For context, please read this short news blurb about the candidates:</h3>

			<center>
			<div id="blurb">
					<p>"The presidential election is coming down to the wire and the candidates are neck-and-neck.  The latest polls show a statistical dead heat, with Mike Jones receiving 49 percent support, Joe Smith 48 percent, and third party challenger Steve Brooks just a mere 3 percent.  Both the Jones and Smith camps are busy…"<br><br>-API</p>
			</div>
		</center>

			<a href="p005">Continue</a>
		</div>
	</div>
	
