
	<div id="header">
		<h1>Survey</h1>
		<hr size="1">

	</div>
	
	<div id="body">
		
		<div id="content">
            <h3>For context, please read this short news blurb about the candidates and vote below:</h3>

            <div class="news">
                <table>
                    <tr>
                        <td class="news_header">
                            Election Watch
                        </td>
                        <td class="news_content">
                            <% if @group == 0 %>
                            <p>"The presidential election is coming down to the wire and the candidates are neck-and-neck.  The latest polls show a statistical dead heat, with <%= @name1[0] %> receiving 49 percent support, <%= @name2[0] %> 48 percent, and third party challenger <%= @name0[0] %> just a mere 3 percent.  Both the <%= @name1[0].split(' ')[1] %> and <%= @name2[0].split(' ')[1] %> camps are busy…"</p>
                            <% elsif @group == 1 %>
                            <p>"The presidential election is coming down to the wire and the candidates are neck-and-neck.  The latest polls show a statistical dead heat, with <%= @name2[0] %> receiving 49 percent support, <%= @name1[0] %> 48 percent, and third party challenger <%= @name0[0] %> just a mere 3 percent.  Both the <%= @name1[0].split(' ')[1] %> and <%= @name2[0].split(' ')[1] %> camps are busy…"</p>
                            <% elsif @group == 2 %>
                            <p>"With election day around the corner, we may already know who our next president is. <%= @name1[0] %> is leading with at an unprecidented 76 percent, with <%= @name2[0] %> trailing at 20 percent, and third party challenger <%= @name0[0] %> at 4 percent."</p>
                            <% else @group == 3 %>
                            <p>"With election day around the corner, we may already know who our next president is. <%= @name2[0] %> is leading with at an unprecidented 76 percent, with <%= @name1[0] %> trailing at 20 percent, and third party challenger <%= @name0[0] %> at 4 percent."</p>
                            <% end %>
                        </td>
                    </tr>
                </table>
            </div>

            <br><br>

            <center>
            <div id="results">
                Your percentage match to the candidates:</br>
                <%= @name0[0] %> - <%= @name0[1] %><br>
                <%= @name1[0] %> - <%= @name1[1] %><br>
                <%= @name2[0] %> - <%= @name2[1] %>
            </div>
            </center>

            <%= form_tag 'p006' do -%>

            <div id="question">
                <h3>Considering this news story and your results from the quiz, who will you vote for?</h3>

                <input type="radio" name="vote" value="0" id="vote_0" />
                <label for="vote_0"><%= @name0[0] %></label><br>
                <input type="radio" name="vote" value="1" id="vote_1" />
                <label for="vote_1"><%= @name1[0] %></label><br>
                <input type="radio" name="vote" value="2" id="vote_2" />
                <label for="vote_2"><%= @name2[0] %></label><br>
            </div>

            <br>
            <% @results.each do |k, v| -%>
                <%= hidden_field_tag k, v %>
            <% end %>
            <%= submit_tag "Vote!" %>
        <% end %>

        <br><br>

		</div>
	</div>
