<html>
<body>
	<div id="header">
		<h1>Survey</h1>
		<hr size="1">
	</div>

	<div id="body">
		<div id="content">
			<h3>There are a number of important issues in any election.  Please tell us your opinion on the following 15 hot-button issues.  On many questions, people are torn between two options.  If you find yourself torn between two choices, try to select the option <i>closest</i> to your opinion.  </h3>

			<%= form_tag 'quizresults' do -%>

			<div id="question">
					<p>1. Do you think that we should increase our spending on national defense, keep it about the same, or cut it back?</p>

					<%= radio_button_tag(:n01, "+1") %>
					<%= label_tag(:n01, "Increase defense spending") %><br>
					<%= radio_button_tag(:n01, "0") %>
					<%= label_tag(:n01, "Keep it about the same") %><br>
					<%= radio_button_tag(:n01, "-1") %>
					<%= label_tag(:n01, "Cut it back") %><br>
			</div>

			<div id="question">
					<p>2. If you were making up the budget for the federal government this year (2011), would you increase spending, decrease spending or keep spending the same for...health care?</p>
					
					<%= radio_button_tag(:n02, "-1") %>
					<%= label_tag(:n02, "Increase spending") %><br>
					<%= radio_button_tag(:n02, "0") %>
					<%= label_tag(:n02, "Keep spending the same") %><br>
					<%= radio_button_tag(:n02, "+1") %>
					<%= label_tag(:n02, "Decrease spending") %><br>
			</div>

			<div id="question">
					<p>3. Would you support or oppose building a security fence along the US (United States)-Mexico border to try to stop illegal immigration?</p>
					
					<%= radio_button_tag(:n03, "+1") %>
					<%= label_tag(:n03, "Support building a fence") %><br>
					<%= radio_button_tag(:n03, "-1") %>
					<%= label_tag(:n03, "Oppose building a fence") %><br>
			</div>

			<div id="question">
					<p>4. In your view, what is the best way to reduce the federal budget deficit? Should we mostly focus on cutting major programs, mostly focus on increasing taxes, or should we do a combination of both?</p>
					
					<%= radio_button_tag(:n04, "+1") %>
					<%= label_tag(:n04, "Cut major programs") %><br>
					<%= radio_button_tag(:n04, "-1") %>
					<%= label_tag(:n04, "Increase taxes") %><br>
					<%= radio_button_tag(:n04, "0") %>
					<%= label_tag(:n04, "A combination of both") %><br>
			</div>

			<div id="question">
					<p>5. As it conducts the war on terrorism, do you think the United States government is or is not doing enough to protect the civil liberties of American citizens?</p>
					
					<%= radio_button_tag(:n05, "+1") %>
					<%= label_tag(:n05, "Doing enough to protect civil liberties") %><br>
					<%= radio_button_tag(:n05, "-1") %>
					<%= label_tag(:n05, "Not doing enough to protect civil liberties") %><br>
			</div>

			<div id="question">
					<p>6. Do you think it should be legal or not legal for same-sex couples to marry?</p>
					
					<%= radio_button_tag(:n06, "-1") %>
					<%= label_tag(:n06, "Legal") %><br>
					<%= radio_button_tag(:n06, "+1") %>
					<%= label_tag(:n06, "Illegal") %><br>
			</div>

			<div id="question">
					<p>7. When there is a conflict between environmental protection and economic growth, which do you think is more important?</p>
					
					<%= radio_button_tag(:n07, "-1") %>
					<%= label_tag(:n07, "Protecting the environment") %><br>
					<%= radio_button_tag(:n07, "+1") %>
					<%= label_tag(:n07, "Economic growth") %><br>
			</div>

			<div id="question">
					<p>8. Do you think the US (United States) is doing the right thing by fighting the war in Afghanistan now, or should the US not be involved in Afghanistan now?</p>
					
					<%= radio_button_tag(:n08, "+1") %>
					<%= label_tag(:n08, "Right thing") %><br>
					<%= radio_button_tag(:n08, "-1") %>
					<%= label_tag(:n08, "Should not be involved") %><br>
			</div>

			<div id="question">
					<p>9. In your opinion, which is more important? </p>
					
					<%= radio_button_tag(:n09, "+1") %>
					<%= label_tag(:n09, "Preventing Iran from developing nuclear weapons, even if it means taking military action.") %><br>
					<%= radio_button_tag(:n09, "-1") %>
					<%= label_tag(:n09, "Avoiding a military conflict with Iran, even if it means they may develop nuclear weapons.") %><br>
			</div>

			<div id="question">
					<p>10. What do you think is more important--to protect the right of Americans to own guns, or to control gun ownership?</p>
					
					<%= radio_button_tag(:n10, "+1") %>
					<%= label_tag(:n10, "Protecting the right to own guns") %><br>
					<%= radio_button_tag(:n10, "-1") %>
					<%= label_tag(:n10, "Controlling gun ownership") %><br>
			</div>

			<div id="question">
					<p>11. Which of the following two statements about the role of government comes closest to your point of view.  Statement A: “Government should do more to solve problems and help meet the needs of people.” OR Statement B: “Government is doing too many things better left to businesses and individuals.”</p>
					
					<%= radio_button_tag(:n11, "-1") %>
					<%= label_tag(:n11, "Government should do more") %><br>
					<%= radio_button_tag(:n11, "+1") %>
					<%= label_tag(:n11, "Government is doing too many things") %><br>
			</div>

			<div id="question">
					<p>12. In general, government grows bigger as it provides more services.  If you had to choose, would you rather have a smaller government providing less services, or a bigger government providing more services.</p>
					
					<%= radio_button_tag(:n12, "+1") %>
					<%= label_tag(:n12, "Smaller government, less services") %><br>
					<%= radio_button_tag(:n12, "-1") %>
					<%= label_tag(:n12, "Bigger government, more services") %><br>
			</div>

			<div id="question">
					<p>13. Which punishment do you prefer for people convicted of murder: the death penalty or life in prison with no chance of parole?</p>
					
					<%= radio_button_tag(:n13, "+1") %>
					<%= label_tag(:n13, "Death penalty") %><br>
					<%= radio_button_tag(:n13, "-1") %>
					<%= label_tag(:n13, "Life in prison") %><br>
			</div>

			<div id="question">
					<p>14. Do you think the government should require all Americans to have health insurance?</p>
					
					<%= radio_button_tag(:n14, "+1") %>
					<%= label_tag(:n14, "Should not require") %><br>
					<%= radio_button_tag(:n14, "-1") %>
					<%= label_tag(:n14, "Should require") %><br>
			</div>

			<div id="question">
					<p>15. With respect to the abortion issue, do you consider yourself pro-choice or pro-life?</p>
					
					<%= radio_button_tag(:n15, "-1") %>
					<%= label_tag(:n15, "Pro-choice") %><br>
					<%= radio_button_tag(:n15, "+1") %>
					<%= label_tag(:n15, "Pro-life") %><br>
			</div>

			<br><br>

			<%= submit_tag "Submit" %>

			<% end %>
		</div>
	</div>
</body>
	
